{% extends 'base.html'%}
{%load thumbnail%}
{%block content %}
      <h1>Bootstrap starter template</h1>
      <p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>

      <img src="{%thumbnail 'http://i.imgur.com/cnRBbA1.gif' "x50" as img %}{{img.url}}{% endthumbnail%}" />      

<script>
$(document).ready(function () {
    var redirect = function(response){
        if(response.status=="connected"){
            document.location.href="{# url autorizado #}?&auth_token="+ response.authResponse.accessToken;
        }
    }
    FB.Event.subscribe("auth.login", redirect);
    FB.Event.subscribe("auth.authResponseChange", redirect);
    FB.getLoginStatus(redirect);
});

</script>


<fb:login-button  size="xlarge"></fb:login-button>
{% endblock %}
